{
    "systems": [
        {
            "class": "MeshRenderSystem",
            "priority": 0
        },
        {
            "class": "EditorSystem",
            "priority": -1
        },
        {
            "class": "EditorCameraControllerSystem",
            "priority": -1
        },
        {
            "class": "DebugRotatorSystem",
            "priority": -2
        },
        {
            "class": "SpringJoinSystem",
            "priority": -3
        },
        {
            "class": "PhysicsSystem",
            "priority": -4
        },
        {
            "class": "SceneLoaderSystem",
            "priority": -100
        },
        {
            "class": "InputDispatchSystem",
            "priority": -200
        },
        {
            "class": "CubeShooterSystem",
            "priority": 0
        }
    ]
}